<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <% if current_user %>
      <div class="text-sm lg:flex-grow">
        <h3>Welcome, <strong><%= current_user.username %></strong>.</h3>
      </div>
      <%= link_to "Log Out", logout_path, :class => "bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded mr-5" %>
    <% else %>
      <%= link_to "Register", signup_path, :class => "bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mr-5" %>
      <%= link_to "Log In", login_path, :class => "bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mr-5" %>
    <% end %>
  </div>
</nav>
