<div class="bg-white flex justify-center bg-gray-200">
  <p class="text-5xl mt-10 mb-10">Update User</p>
</div>

<%= render 'form', user: @user %>

<%= link_to 'Go back', @user, :class => "inline-block mt-5 ml-5 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" %>
